.question__button {
	display: block;
	margin: 37px auto;
	background-color: #FEA133;
	padding: 8px 33px;
	border: none;
	text-transform: uppercase;
}

.Question-item {
  color: #FFFFFF;
}

.Question-item p {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: left;
}

.Question-item input {
  width: 96%;
  border: 1px solid #FFFFFF;
  background-color: inherit;
  padding: 8px 0 8px 11px;
  color: #FFFFFF;
}